:root{
    --purple500: #281154;
    --purple300: #270082;
    --purple600: #1b0058;
    --red600: #dc0000;
    --body: #f9f6ff;
    --max-width: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: "Elms Sans", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
section{
    scroll-margin: 50px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color: var(--purple300);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 20px;
    
}
.logo{
    font-size: 22px;
    font-weight: 600;
}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover{
    transition: 0.2s ease-in-out;
    opacity: 0.8;
}

nav ul{
    display: flex;
    gap: 20px;
}

nav ul li{
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in;
}

nav ul li:hover{
    border-bottom: 2px solid white;
    transition: 0.2s ease-in;
}

.hero-section{
    background-image: url(images/hero_section.jpg);
    height: 100vh;
    display: grid;
    color: white;
    place-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    width: 100%;
}
.hero-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero-section h1{
    font-size: 96px;
}
.hero-section h3{
    font-size: 32px;
}

.music-section{
    padding-top: 50px;
    background: var(--purple500);
}
.music-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}
.ipad-iphone-img{
    position: relative;
    top: 400px;
    margin-top: -400px;
    justify-content: center;
    margin-left: 40px; 
}
.ipad-iphone-img img {
    width: 100%;   /* try 80%, 70%, 60% */
    padding: 30px;
}
.primary-btn{
    background-color: var(--red600);
    color: white;
}
.secondary-btn{
    background-color: var(--purple300);
    color: white;
}

.about-music{
    padding-top: 400px;
    display: grid;
    place-items: center;
    gap: 30px;
    text-align: center;
    margin-bottom: 50px;
}

/* .about-music p{
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    margin: 0 auto 20px;
} */
.mac-img img {
    width: 60%;    /* adjust size */
}
.mac-img {
    text-align: center;
}

.video-section{
    background-image: url(images/music.jpg);
    min-height: 800px;
    display: flex;
    place-items: center;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0;  
}
.video-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -200px;
}

.hero-section,.video-section{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gift-section {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  gap: 50px;
}

.gift-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gift-card img{
    width: 300px;
}

.footer-upper{
    background-color: var(--purple600);
    padding: 20px;
}

.footer-upper .container{
    display: flex;
    color: white;
    justify-content: space-between;
}
.footer-upper h4{
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}
.footer-lower{
    background-color: var(--purple300);
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;
}
.gift-section{
    scroll-margin: 50px;
}








