*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    line-height: 1.4;
    font-weight: 300;
}

.hero_section{
    background-image: url(images/developer-4.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text_container{
    color: white;
    max-width: 0 auto;
    margin: 0 auto;
    padding-top: 64px;
    padding-left: 16px;
    font-family: 'Dancing Script', cursive;
}
.lg_text{
    font-size: 72px;
    font-weight: 400;
}

.black_box {
  background-color: #000;
  padding: 20px;
}
.black_box h2 {
  font-size: 72px;
  color: white;
  text-align: center;
  font-weight: 300;
  font-family: 'Dancing Script', cursive;
}

.black_box h2 span {
  font-weight: 400;
  font-size: 96px;
}

.work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* exactly 3 columns */
  gap: 20px;
  max-width: 1100px;                      /* enough space for 3 cards */
  margin: 50px auto;
  padding: 0 20px;
}

.grid_item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    max-width: 320px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1,1,1,0.2);
    /* transition: 0.2s ease-in-out; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
    overflow: hidden;
}
.card:hover{
    /* transform: scale(1.04); */
    transform: translateY(-10px);
    box-shadow: 3px 5px 5px rgba(1,1,1,0.3);
    /* transition: 0.2s ease-in-out; */
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card h3{
    margin: 15px;
}
.card p{
    margin: 0 15px 15px;
    color: #333;
    font-family: 'Dancing Script', cursive;
}
.bottom_section{
    display: flex;
}
.contact{
    background-color: #033c56;
}
.about{
    background-color: #720067;
}

.contact,
.about{
    min-height: 300px;
    padding: 32px;
    color: white;
}
.about h2,
.contact h2{
    font-size: 64px;
    font-weight: 300;
}
.about p,
.contact p{
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
}
footer{
    text-align: center;
    text-transform: uppercase;
    background-color: #000;
    padding: 20px;
    font-family: 'Dancing Script', cursive;
    color: white;
}

@media (max-width: 786px){
    .hero_section{
        min-height: 50vh;
    }
    .text_container{
        padding: 10px 0;
        text-align: center;
    }
    .lg_text{
        font-size: 32px;
    }
    .black_box h2{
        font-size: 24px;
    }
    .black_box h2 span{
        font-weight: 400;
        font-size: 32px;
    }
    .bottom_section{
        flex-direction: column;
    }
    h1{
        font-size: 32px;
    }
    .about h2,
    .contact h2{
        font-size: 32px;
    }
}